# Ch2. The Python language
## 2.1 First steps

In [1]:
print("Hello, world!")
a = 3
type(a)

Hello, world!

int

In [2]:
b = 'hello'
3*b

'hellohellohello'

In [3]:
b + b

'hellohello'

In [4]:
3/2

1.5

## 2.2 Basic types

### 2.2.1 Numerical types

### 2.2.2 Containers

### Lists

In [5]:
colors = ['red', 'blue', 'green', 'black', 'white']
type(colors)

list

In [6]:
colors[2]

'green'

In [7]:
colors[-1]

'white'

In [8]:
colors[-2]

'black'

In [9]:
colors[2:4]

['green', 'black']

In [10]:
colors[3:]

['black', 'white']

In [11]:
colors[:3]

['red', 'blue', 'green']

In [12]:
colors[::2]

['red', 'green', 'white']

In [13]:
colors2=[3, -200, 'hello']
colors2

[3, -200, 'hello']

In [14]:
colors2[1], colors2[2]

(-200, 'hello')

In [15]:
colors

['red', 'blue', 'green', 'black', 'white']

In [16]:
colors.append('pink')
colors

['red', 'blue', 'green', 'black', 'white', 'pink']

In [17]:
colors.pop() # removes and returns the last term

'pink'

In [18]:
colors

['red', 'blue', 'green', 'black', 'white']

In [19]:
colors.extend(['pink', 'purple']) # extend colors, in-place
colors

['red', 'blue', 'green', 'black', 'white', 'pink', 'purple']

In [20]:
colors = colors[:-2]
colors

['red', 'blue', 'green', 'black', 'white']

In [21]:
# Reverse
rcolors = colors[::-1]
rcolors

['white', 'black', 'green', 'blue', 'red']

In [22]:
rcolors2 = list(colors) # new object that is a copy of colors in a differentn memory area
rcolors2

['red', 'blue', 'green', 'black', 'white']

In [23]:
rcolors2.reverse()
rcolors2

['white', 'black', 'green', 'blue', 'red']

In [24]:
## Concatenate and repeat list:
rcolors + colors

['white',
 'black',
 'green',
 'blue',
 'red',
 'red',
 'blue',
 'green',
 'black',
 'white']

In [25]:
rcolors*2

['white',
 'black',
 'green',
 'blue',
 'red',
 'white',
 'black',
 'green',
 'blue',
 'red']

In [26]:
# sort
sorted(rcolors) # new object

['black', 'blue', 'green', 'red', 'white']

In [27]:
rcolors

['white', 'black', 'green', 'blue', 'red']

In [28]:
rcolors.sort() # in-place
rcolors

['black', 'blue', 'green', 'red', 'white']

### Strings

In [29]:
a="hello"
type(a)

str

In [30]:
a[0]

'h'

In [31]:
b = "hello, world!"
b[3:7]

'lo, '

A string is an immutable object and it is not possible to modify its contents. One may however create new strings from the original one.

In [32]:
b[2] = 'z'

TypeError: 'str' object does not support item assignment

In [33]:
b.replace('l', 'z', 1)

'hezlo, world!'

In [34]:
b.replace('l', 'z')

'hezzo, worzd!'

### String Formatting

In [35]:
'An integer: %i; a float: %f; another string: %s' % (1, 0.1, 'string') # with more values␣ 􏰀→use tuple after %

'An integer: 1; a float: 0.100000; another string: string'

In [36]:
i=102
filename = 'processing_of_dataset_%d.txt' % i # no need for tuples with just one value after %
filename

'processing_of_dataset_102.txt'

### Dictionaries
Adictionary is basically an efficient table that maps keys to values. It is an unordered container.

In [37]:
tel = {'emmanuelle': 5752, 'sebastian': 5578}
tel['francis'] = 5915
tel

{'emmanuelle': 5752, 'sebastian': 5578, 'francis': 5915}

In [38]:
tel['sebastian']

5578

In [39]:
tel.keys()

dict_keys(['emmanuelle', 'sebastian', 'francis'])

In [40]:
tel.values()

dict_values([5752, 5578, 5915])

In [41]:
tel

{'emmanuelle': 5752, 'sebastian': 5578, 'francis': 5915}

In [42]:
'francis' in tel

True

### Tuples
Tuples are basically immutable lists. The elements of a tuple are written between parentheses, or just separated by commas.

In [43]:
t = 12345, 54321, 'hello!'  # or t = (12345, 54321, 'hello!')
t

(12345, 54321, 'hello!')

In [44]:
t[0]

12345

### Sets
unordered, unique items

In [45]:
s = set(('a', 'b', 'c', 'a'))
s

{'a', 'b', 'c'}

In [46]:
s.difference(('a', 'b'))

{'c'}

### 2.2.3 Assignment operator
p.20

In [47]:
a = [1,2,3]
b=a #a 와 b는 이름은 다르지만 같은 리스트임
b[1]='hi'
a

[1, 'hi', 3]

## 2.3 Control Flow

### 2.3.1 if/elif/else

In [49]:
if 2**2 == 4:
    print('Obvious!')

Obvious!

In [51]:
a == 10
if a == 1:
    print(1)
elif a == 2:
    print(2)
else:
    print('A lot')

A lot

### 2.3.2 for/range

In [57]:
for i in range(4): # range(n)은 0부터 시작해서 (n-1)까지
    print(i)

0
1
2
3

In [58]:
for i in range(2,6): # range(i,j)는 i부터 (j-1)까지
    print(i)

2
3
4
5

In [59]:
for word in ('cool', 'powerful', 'readable'):
    print('Python is %s' %word)

Python is cool
Python is powerful
Python is readable

### 2.3.3 while/break/continue

In [61]:
z = 1 +1j
while abs(z) < 100:
    z =  z**2 + 1
z

(-134+352j)

In [65]:
# break out of enclosing for/while loop:

z = 1 + 1j
while abs(z) < 100:
    if z.imag == 0:
        break
    z = z - 1j
z

(1+0j)

In [66]:
# continue the next iteration of a loop:

a = [1, 0, 2, 4]
for element in a:
    if element == 0:
        continue
    print (1./element)

1.0
0.5
0.25

### 2.3.4 Conditional Expressions

In [67]:
# True and False
1 == 1

True

In [68]:
1 is 1

True

In [69]:
a = 1
b = 1
a is b

True

In [71]:
1 is 3

False

In [72]:
b = [1, 2, 3]
2 in b

True

In [73]:
5 in b

False

### 2.3.5 Advanced iteration
Iterate over any sequence

In [74]:
vowels = 'aeiouy'
for i in 'powerful':
    if i in vowels:
        print(i)

o
e
u

In [75]:
message = "Hello how are you?"
message.split()

['Hello', 'how', 'are', 'you?']

In [76]:
for word in message.split():
    print(word)

Hello
how
are
you?

In [77]:
# Keeping track of enumeration number
# Common task is to iterate over a sequence while keeping track of the itemnumber.

words = ('cool', 'powerful', 'readable')
for i in range(0,len(words)):
    print(i, words[i])

0 cool
1 powerful
2 readable

Looping over a dictionary

In [79]:
d = {'a':1, 'b':1.2, 'c':1j}
for key, val in sorted(d.items()):
    print('Key: %s has value: %s' %(key, val))

Key: a has value: 1
Key: b has value: 1.2
Key: c has value: 1j

### 2.3.6 List Comprehensions

In [80]:
[i**2 for i in range(4)]

[0, 1, 4, 9]

## 2.4 Defining functions

### 2.4.1 Function definition

In [81]:
def test():
    print('in test function')
test()

in test function

### 2.4.2 Return statement

In [85]:
def disk_area(radius):
    return 3.14*radius*radius
disk_area(1.5)

7.0649999999999995

### 2.4.3 Parameters

In [86]:
def double_it(x):
    return x*2

double_it(3)

6

In [88]:
def double_it(x=2):
    return x*2
double_it()

4

In [89]:
double_it(3)

6

In [90]:
def slicer(seq, start=None, stop=None, step=None):
    """Implement basic python slicing."""
    return seq[start:stop:step]

rhyme = 'one fish, two fish, red fish, blue fish'.split()
rhyme

['one', 'fish,', 'two', 'fish,', 'red', 'fish,', 'blue', 'fish']

In [91]:
slicer(rhyme)

['one', 'fish,', 'two', 'fish,', 'red', 'fish,', 'blue', 'fish']

In [92]:
slicer(rhyme, step=2)

['one', 'two', 'red', 'blue']

In [93]:
slicer(rhyme, 1, step=2)

['fish,', 'fish,', 'fish,', 'fish']

In [94]:
slicer(rhyme, start=1, stop=4, step=2)

['fish,', 'fish,']

In [96]:
# The order of the keyword arguments does not matter:
slicer(rhyme, step=2, start=1, stop=4)

['fish,', 'fish,']

### 2.4.4 Passing by value